@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Mynerve&family=Nunito+Sans:ital,wght@1,200&family=Roboto+Slab:wght@200;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Fira Code", monospace;
}
